{% extends 'base.html.twig' %}

{% block title %}Hello TableController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 style='color:{{color}}'>Table de {{n}} </h1>

    <table border='1px' style='border-color:{{color}}'>
    <thead>
        <th style='color:{{color}}'>Nombre </th>
        <th style='color:{{color}}'>Multiplicateur </th>
        <th style='color:{{color}}'>Résultat </th>
    </thead>
    <tbody>
    {% for calculation in calculations %}
    <tr><td>{{  calculation.indice }}</td><td>{{ n }}</td><td>{{calculation.result}}</td></tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}
